

.navbar {
    padding: 20px 10px
}

.navbar a {
    font-weight: 800;
}

.car_searchfield {
    border-radius: 20px;
    width: 450px;
    padding:2px 10px;
}

.car_form button {
    border-radius: 20px;
    border: none;
    padding:5px 10px;
}

.car_images img{
    height: 200px;
    border-radius: 5px;
}

.car_images p{
    text-align: center;
    font-weight: 600;
}







/* Start Log in Page */
.login-form{
    margin: 50px auto;
    display: table;
  }
  
  .username{
    float: left;
    border: 2px solid black;
    height: 25px;
    margin-right: 20px;
  }
  .valid{
    border: 2px solid black;
    border-right: 0px;
    height: 25px;
    float: left;
  }
  .password-icon{
    float: left;
    border: 2px solid black;
    height: 25px;
    width: 24px;
    border-left: 0px;
  }
  .login-button{
    float: left;
    padding: 5px 10px;
    border-radius: 15px;
  }
  .devider{
    content: '';
    clear: both;
    display: block;
  }
  
  .directtologin {
    color: #fff!important;
  }

/* End Log in Page */